In [2]:
import pandas as pd
import statsmodels.formula.api as smf

df = pd.read_csv('dataset_1654342.csv')
df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,unit_price,product_category,product_type
0,1,06/08/2023,17:41:54,1.0,2,Groningen,3.25,Tea,Chai tea
1,2,06/10/2023,11:30:46,2.0,2,Groningen,4.50,Chocolate,Hot chocolate
2,3,06/06/2023,09:19:26,3.0,2,Groningen,3.00,Tea,Black tea
3,4,06/10/2023,17:25:49,1.0,3,Breda,4.50,Chocolate,Hot chocolate
4,5,06/05/2023,14:55:12,1.0,1,Amsterdam,4.50,Chocolate,Hot chocolate

In [3]:
#B1 descriptive statistics
# Ensure that transaction quantities are numeric and not missing
df['transaction_qty'] = pd.to_numeric(df['transaction_qty'], errors='coerce')
df_cleaned = df.dropna(subset=['transaction_qty', 'product_type', 'product_category'])
 
# Group the data by product category and type, and sum the quantities
grouped = df_cleaned.groupby(['product_category', 'product_type'])['transaction_qty'].sum().reset_index()
 
# Sort the grouped data by category and then by quantity sold
grouped_sorted = grouped.sort_values(by=['product_category','transaction_qty'], ascending=[True, False])
 
# Now, grouped_sorted contains the summed quantities of each product type within each category
print(grouped_sorted)
 
# If certain product types consistently show lower quantities sold, you could advise TTR to consider marketing efforts to boost sales or even re-evaluate the product offering

   product_category            product_type  transaction_qty
0            Bakery                     Pie           1229.0
2            Bakery                   Scone           1201.0
1            Bakery                Sandwich           1174.0
3         Chocolate           Hot chocolate           3773.0
4            Coffee            Black coffee            956.0
5            Coffee             Milk coffee            947.0
6            Coffee  Organic blended coffee            922.0
7            Coffee            Syrup coffee            907.0
9               Tea                Chai tea            959.0
8               Tea               Black tea            941.0
10              Tea               Green tea            919.0
11              Tea              Herbal tea            888.0

In [9]:
#B1 Inferential statistics
total_sales = df_cleaned.groupby('product_type')['transaction_qty'].sum().reset_index()
df_cleaned = df_cleaned.merge(total_sales, on='product_type', suffixes=('', '_total'))
product_type_dummies = pd.get_dummies(df_cleaned['product_type'])
df_product_type_dummies = pd.concat([df_cleaned,product_type_dummies],axis=1)
df_product_type_dummies.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,unit_price,product_category,product_type,transaction_qty_total,...,Chai tea,Green tea,Herbal tea,Hot chocolate,Milk coffee,Organic blended coffee,Pie,Sandwich,Scone,Syrup coffee
0,1,06/08/2023,17:41:54,1.0,2,Groningen,3.25,Tea,Chai tea,959.0,...,True,False,False,False,False,False,False,False,False,False
1,2,06/10/2023,11:30:46,2.0,2,Groningen,4.50,Chocolate,Hot chocolate,3773.0,...,False,False,False,True,False,False,False,False,False,False
2,3,06/06/2023,09:19:26,3.0,2,Groningen,3.00,Tea,Black tea,941.0,...,False,False,False,False,False,False,False,False,False,False
3,4,06/10/2023,17:25:49,1.0,3,Breda,4.50,Chocolate,Hot chocolate,3773.0,...,False,False,False,True,False,False,False,False,False,False
4,5,06/05/2023,14:55:12,1.0,1,Amsterdam,4.50,Chocolate,Hot chocolate,3773.0,...,False,False,False,True,False,False,False,False,False,False

In [15]:
model_tea = smf.ols('transaction_qty_total ~ Q("Chai tea") + Q("Black tea") + Q("Green tea") + Q("Herbal tea")', data=df_product_type_dummies).fit()
print(model_tea.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     transaction_qty_total   R-squared:                       0.145
Model:                               OLS   Adj. R-squared:                  0.145
Method:                    Least Squares   F-statistic:                     314.8
Date:                   Mon, 25 Mar 2024   Prob (F-statistic):          1.37e-250
Time:                           15:21:19   Log-Likelihood:                -62645.
No. Observations:                   7429   AIC:                         1.253e+05
Df Residuals:                       7424   BIC:                         1.253e+05
Df Model:                              4
Covariance Type:               nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                1982.5696     14.914    132.938      0.000    1953.335    2011.804
Q("Chai tea")[T.True]   -1023.5696     52.160    -19.624      0.000   -1125.817    -921.322
Q("Black tea")[T.True]  -1041.5696     53.158    -19.594      0.000   -1145.775    -937.364
Q("Green tea")[T.True]  -1063.5696     54.060    -19.674      0.000   -1169.542    -957.597
Q("Herbal tea")[T.True] -1094.5696     55.014    -19.896      0.000   -1202.412    -986.727
==============================================================================
Omnibus:                     2665.640   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1054.708
Skew:                           0.763   Prob(JB):                    9.40e-230
Kurtosis:                       1.962   Cond. No.                         4.70
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [14]:
model_coffee = smf.ols('transaction_qty_total ~ Q("Black coffee") + Q("Milk coffee") + Q("Syrup coffee") + Q("Organic blended coffee")', data=df_product_type_dummies).fit()
print(model_coffee.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     transaction_qty_total   R-squared:                       0.141
Model:                               OLS   Adj. R-squared:                  0.140
Method:                    Least Squares   F-statistic:                     304.4
Date:                   Mon, 25 Mar 2024   Prob (F-statistic):          7.71e-243
Time:                           15:20:43   Log-Likelihood:                -62663.
No. Observations:                   7429   AIC:                         1.253e+05
Df Residuals:                       7424   BIC:                         1.254e+05
Df Model:                              4
Covariance Type:               nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                            1977.0394     14.924    132.474      0.000    1947.784    2006.295
Q("Black coffee")[T.True]           -1021.0394     53.228    -19.182      0.000   -1125.381    -916.698
Q("Milk coffee")[T.True]            -1030.0394     52.871    -19.482      0.000   -1133.682    -926.397
Q("Syrup coffee")[T.True]           -1070.0394     55.256    -19.365      0.000   -1178.357    -961.722
Q("Organic blended coffee")[T.True] -1055.0394     54.514    -19.353      0.000   -1161.903    -948.176
==============================================================================
Omnibus:                     2633.992   Durbin-Watson:                   1.980
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1059.458
Skew:                           0.767   Prob(JB):                    8.74e-231
Kurtosis:                       1.965   Cond. No.                         4.71
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
model_bakery = smf.ols('transaction_qty_total ~ Q("Pie") + Q("Scone") + Q("Sandwich")', data=df_product_type_dummies).fit()
print(model_bakery.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     transaction_qty_total   R-squared:                       0.060
Model:                               OLS   Adj. R-squared:                  0.060
Method:                    Least Squares   F-statistic:                     158.1
Date:                   Mon, 25 Mar 2024   Prob (F-statistic):           2.50e-99
Time:                           15:22:04   Log-Likelihood:                -62997.
No. Observations:                   7429   AIC:                         1.260e+05
Df Residuals:                       7425   BIC:                         1.260e+05
Df Model:                              3
Covariance Type:               nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept              1885.4602     15.580    121.016      0.000    1854.919    1916.002
Q("Pie")[T.True]       -656.4602     48.649    -13.494      0.000    -751.826    -561.094
Q("Scone")[T.True]     -684.4602     50.008    -13.687      0.000    -782.490    -586.430
Q("Sandwich")[T.True]  -711.4602     50.582    -14.066      0.000    -810.615    -612.306
==============================================================================
Omnibus:                     2645.318   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1121.899
Skew:                           0.800   Prob(JB):                    2.41e-244
Kurtosis:                       1.967   Cond. No.                         4.11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.